# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln

.env
/dist
/static/games/cdn
/dist/assets
/static/d
/static/e
/static/ext
/static/lib
/static/r
/static/res
/static/xr
/static/cdn
/static/gameAssets
/static/gameAssets
static/ads.js
